<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBuLNfeODgQ6cqI5mrQPyWl0bAxopYm-Ss</string>
	<key>GCM_SENDER_ID</key>
	<string>681885638475</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.testfb</string>
	<key>PROJECT_ID</key>
	<string>flutter-flow-54-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-flow-54-dev.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:681885638475:ios:0fe8e8181594a10e6392ce</string>
</dict>
</plist>